@charset "UTF-8";
* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-left: 100px;
  color: black;
  font-size: 50px;
}

.portada {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .portada {
    height: 200px;
  }
}
.portada img {
  object-fit: cover;
  height: inherit;
  width: inherit;
}

.navegador {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 500;
  position: relative;
  text-align: center;
  align-items: center;
}
.navegador a {
  order: -2;
}
.navegador h1 {
  font-family: "Borel", cursive;
  font-family: "Dancing Script", cursive;
  order: -1;
}
@media (max-width: 1200px) {
  .navegador h1 {
    font-size: 50px;
    margin: 0;
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .navegador h1 {
    order: -1;
    display: none;
  }
}
@media (max-width: 576px) {
  .navegador h1 {
    font-size: 14px;
    display: none;
  }
}
.navegador ul {
  text-decoration: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  list-style: none;
}
@media (max-width: 768px) {
  .navegador ul {
    display: none;
  }
}
.navegador ul li {
  order: 3;
}
.navegador ul li a {
  order: 2;
  font-size: 30px;
  padding: 10px;
  display: block;
  color: black;
}
@media (max-width: 1200px) {
  .navegador ul li a {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .navegador ul li a {
    color: black;
    font-size: 20px;
  }
}
.navegador .dropdown {
  display: none;
  order: -4;
  padding-top: 30px;
}
.navegador .dropdown ul li a {
  text-decoration: none;
}
.navegador .dropdown .dropdown-toggle {
  font-size: 10px;
}
.navegador .dropdown .dropdown-menu {
  background-color: rgb(209, 173, 94);
}
.navegador .dropdown .dropdown-item {
  color: white;
}
.navegador .dropdown .btn {
  background-color: rgb(209, 173, 94);
}
@media (max-width: 768px) {
  .navegador .dropdown {
    font-size: 30px;
    display: block;
    order: -6;
  }
}
.navegador .logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .navegador .logo {
    margin-right: 30px;
    order: -1;
  }
}

.underline-hover {
  font-size: 30px;
  text-decoration: none;
}

.underline-hover::after {
  content: "";
  height: 4px;
  width: 0;
  margin: auto;
  background-color: rgb(209, 173, 94);
  display: block;
  transition: all 350ms;
}
@media (max-width: 768px) {
  .underline-hover::after {
    background-color: rgb(209, 173, 94);
  }
}

.underline-hover:hover::after {
  width: 100%;
}

.imagen {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.iniciar-sesión {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .iniciar-sesión {
    margin-left: 45px;
  }
}
@media (max-width: 576px) {
  .iniciar-sesión {
    margin-left: 0;
    width: 100%;
  }
}

.formulario-resgistro-inicio {
  width: 300px;
  border: 1px solid black;
  padding: 50px;
}

.grid-padree {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 400px);
  gap: 10px;
  grid-template-areas: "img0 img0 img0 img0 img0" "img1 img1 img7 img7 img7" "img3 img3 img3 img3 img3" "img5 img5 img5 img4 img4" "img6 img6 img6 img4 img4" "img8 img8 img8 img2 img2";
}
.grid-padree img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-padree .img0 {
  grid-area: img0;
}
.grid-padree .img1 {
  grid-area: img1;
}
.grid-padree .img2 {
  grid-area: img2;
}
.grid-padree .img3 {
  grid-area: img3;
}
.grid-padree .img4 {
  grid-area: img4;
}
.grid-padree .img5 {
  grid-area: img5;
}
.grid-padree .img6 {
  grid-area: img6;
}
.grid-padree .img7 {
  grid-area: img7;
}
.grid-padree .img8 {
  grid-area: img8;
}
@media (max-width: 768px) {
  .grid-padree {
    display: flex;
    flex-wrap: wrap;
  }
}

.pie-de-pagina {
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2px;
  padding: 30px;
}
@media (max-width: 768px) {
  .pie-de-pagina h2 {
    font-size: 18px;
  }
}
.pie-de-pagina .info-nosotros {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.pie-de-pagina .info-nosotros a {
  text-decoration: none;
  color: black;
}
.pie-de-pagina .redes i {
  padding-top: 20px;
  font-size: 50px;
  padding-left: 30px;
}
@media (max-width: 768px) {
  .pie-de-pagina .redes i {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .pie-de-pagina .redes i {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .pie-de-pagina .redes {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .pie-de-pagina {
    font-size: 10px;
    gap: 5px;
  }
}

.menu {
  width: 100%;
  height: 100%;
  align-items: center;
}
.menu .logo-tienda {
  position: fixed;
  right: 0;
  margin-top: 100px;
  border: 1px solid rgba(190, 132, 57, 0.9254901961);
  background-color: white;
  width: 66px;
  height: 66px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
}
.menu .logo-tienda a {
  color: rgba(190, 132, 57, 0.9254901961);
}
.menu h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}
.menu .tarjetas {
  width: 100%;
  height: inherit;
  padding-left: 85px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.menu .tarjetas .tarjetita {
  height: 150px;
  width: 250px;
  border: 1px solid black;
  border-radius: 35px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(190, 132, 57, 0.9254901961);
  transition: 0.5s;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin-left: 30px;
  }
}
.menu .tarjetas .tarjetita h3 {
  text-align: center;
  width: 100%;
  font-style: italic;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita h3 {
    font-size: 20px;
  }
}
.menu .tarjetas .tarjetita img {
  width: 120px;
  height: 100px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita img {
    width: 60px;
    height: 90px;
  }
}
.menu .tarjetas .tarjetita p {
  display: flex;
  font-size: 45px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita p {
    font-size: 10px;
  }
}
.menu .tarjetas .tarjetita .machiatto {
  font-size: 25px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita .machiatto {
    font-size: 20px;
  }
}
.menu .tarjetas .tarjetita .imagen-c {
  height: 90px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita .imagen-c {
    width: 60px;
    height: 90px;
  }
}
.menu .tarjetas .tarjetita .imagen-t {
  height: 90px;
}
.menu .tarjetas .tarjetita .p-machi {
  font-size: 15px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita .p-machi {
    font-size: 11px;
  }
}
.menu .tarjetas .tarjetita .p-te {
  font-size: 14px;
}
.menu .tarjetas .tarjetita .btn {
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}
.menu .tarjetas .tarjetita .imagen-tienda {
  width: 80px;
}
.menu .tarjetas .tarjetita .boton-tienda {
  background-color: white;
  border: 2px solid rgba(190, 132, 57, 0.9254901961);
  margin-left: 26%;
  padding: 0 !important;
  margin-top: 20px;
}
.menu .tarjetas .tarjetita .boton-tienda a {
  text-decoration: none;
  color: black;
}
.menu .tarjetas .tarjetita .boton-tienda :hover {
  background: rgba(190, 132, 57, 0.9254901961);
  color: white;
}
.menu .tarjetas .tarjetita .producto-precio {
  width: 100px;
  font-size: 100px;
}
@media (max-width: 992px) {
  .menu .tarjetas {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
}

.boton {
  width: 80px;
  cursor: pointer;
  background-color: black;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0, 5s;
}
.boton:hover {
  background-color: rgb(65, 62, 62);
}

.button {
  width: 150px;
  cursor: pointer;
  background-color: black;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0, 5s;
}
.button:hover {
  background-color: rgb(65, 62, 62);
}

.section-carrito {
  width: 1350px;
  align-items: center;
  text-align: center;
}
.section-carrito .nav-carrito {
  display: flex;
  justify-content: start;
  font-size: 30px;
  margin-left: 510px;
}
.section-carrito .nav-carrito .p-total {
  margin-left: 100px;
}
.section-carrito .nav-carrito-2 {
  margin-left: 9px;
  display: flex;
  justify-content: space-between;
}
.section-carrito .tarjetita-carrito {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-between;
  background-color: grey;
  font-size: 20px;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.section-carrito .tarjetita-carrito .imagen-carrito {
  align-items: center;
  width: 80px;
  height: 60px;
}
.section-carrito .tarjetita-carrito .titulo-carrito {
  justify-content: start !important;
  font-size: 20px;
}

.div-total {
  gap: 20px;
  display: flex;
  justify-content: end;
  font-size: 40px;
  margin-right: 140px;
}
.div-total .finalizar {
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  border: 2px solid rgba(190, 132, 57, 0.9254901961);
  padding: 10px;
  margin-bottom: 15px;
}

.total-compra {
  margin-left: 50%;
  font-size: 50px;
}

.carrito-vacio {
  font-size: 60px;
}

.eliminar {
  background-color: white;
  border-radius: 50%;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.yellow {
  color: yellow;
}

.primario {
  color: rgba(99, 63, 16, 0.89);
}

.secundario {
  color: rgb(209, 173, 94);
}

/*# sourceMappingURL=style.css.map */
