@charset "UTF-8";
* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-left: 100px;
  color: black;
  font-size: 50px;
}

.portada {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .portada {
    height: 200px;
  }
}
.portada img {
  object-fit: cover;
  height: inherit;
  width: inherit;
}

.navegador {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 500;
  position: relative;
}
.navegador h1 {
  padding-left: 180px;
}
@media (max-width: 1200px) {
  .navegador h1 {
    font-size: 50px;
    margin: 0;
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .navegador h1 {
    order: -1;
  }
}
@media (max-width: 576px) {
  .navegador h1 {
    font-size: 30px;
  }
}
.navegador ul {
  text-decoration: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  list-style: none;
}
@media (max-width: 768px) {
  .navegador ul {
    display: none;
  }
}
.navegador ul li a {
  font-size: 30px;
  padding: 10px;
  display: block;
  color: black;
}
@media (max-width: 500px) {
  .navegador ul li a {
    color: black;
    font-size: 20px;
  }
}
.navegador .dropdown {
  display: none;
  padding-top: 30px;
}
.navegador .dropdown ul li a {
  text-decoration: none;
}
.navegador .dropdown .dropdown-toggle {
  font-size: 10px;
}
.navegador .dropdown .dropdown-menu {
  background-color: rgb(209, 173, 94);
}
.navegador .dropdown .dropdown-item {
  color: white;
}
.navegador .dropdown .btn {
  background-color: rgb(209, 173, 94);
}
@media (max-width: 768px) {
  .navegador .dropdown {
    font-size: 30px;
    display: block;
    order: -2;
  }
}
.navegador .logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .navegador .logo {
    margin-right: 30px;
  }
}

.underline-hover {
  font-size: 30px;
  text-decoration: none;
}

.underline-hover::after {
  content: "";
  height: 4px;
  width: 0;
  margin: auto;
  background-color: rgb(209, 173, 94);
  display: block;
  transition: all 350ms;
}
@media (max-width: 768px) {
  .underline-hover::after {
    background-color: rgb(209, 173, 94);
  }
}

.underline-hover:hover::after {
  width: 100%;
}

.imagen {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.iniciar-sesión {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .iniciar-sesión {
    margin-left: 45px;
  }
}
@media (max-width: 576px) {
  .iniciar-sesión {
    margin-left: 0;
    width: 100%;
  }
}

.formulario-resgistro-inicio {
  width: 300px;
  border: 1px solid black;
  padding: 50px;
}

.grid-padree {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 400px);
  gap: 10px;
  grid-template-areas: "img0 img0 img0 img0 img0" "img1 img1 img7 img7 img7" "img3 img3 img3 img3 img3" "img5 img5 img5 img4 img4" "img6 img6 img6 img4 img4" "img8 img8 img8 img2 img2";
}
.grid-padree img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-padree .img0 {
  grid-area: img0;
}
.grid-padree .img1 {
  grid-area: img1;
}
.grid-padree .img2 {
  grid-area: img2;
}
.grid-padree .img3 {
  grid-area: img3;
}
.grid-padree .img4 {
  grid-area: img4;
}
.grid-padree .img5 {
  grid-area: img5;
}
.grid-padree .img6 {
  grid-area: img6;
}
.grid-padree .img7 {
  grid-area: img7;
}
.grid-padree .img8 {
  grid-area: img8;
}
@media (max-width: 768px) {
  .grid-padree {
    display: flex;
    flex-wrap: wrap;
  }
}

.pie-de-pagina {
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2px;
  padding: 30px;
}
.pie-de-pagina .info-nosotros {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.pie-de-pagina .info-nosotros a {
  text-decoration: none;
  color: black;
}
.pie-de-pagina .redes i {
  padding-top: 20px;
  font-size: 50px;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .pie-de-pagina .redes i {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .pie-de-pagina .redes i {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .pie-de-pagina .redes {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .pie-de-pagina {
    font-size: 10px;
    gap: 5px;
  }
}

.menu {
  width: 100%;
  height: 100%;
  align-items: center;
}
.menu h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}
.menu .tarjetas {
  width: 100%;
  height: inherit;
  padding-left: 85px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.menu .tarjetas .tarjetita {
  height: 150px;
  width: 250px;
  border: 1px solid black;
  border-radius: 35px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(190, 132, 57, 0.9254901961);
  transition: 0.5s;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin-left: 30px;
  }
}
.menu .tarjetas .tarjetita h3 {
  text-align: center;
  width: 100%;
  font-style: italic;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita h3 {
    font-size: 20px;
  }
}
.menu .tarjetas .tarjetita img {
  width: 120px;
  height: 100px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita img {
    width: 50px;
    height: 60px;
  }
}
.menu .tarjetas .tarjetita p {
  display: flex;
  font-size: 18px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita p {
    font-size: 13px;
  }
}
.menu .tarjetas .tarjetita .machiatto {
  font-size: 25px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita .machiatto {
    font-size: 20px;
  }
}
.menu .tarjetas .tarjetita .imagen-c {
  height: 90px;
}
@media (max-width: 576px) {
  .menu .tarjetas .tarjetita .imagen-c {
    width: 50px;
    height: 60px;
  }
}
.menu .tarjetas .tarjetita .p-te {
  font-size: 15px;
}
@media (max-width: 992px) {
  .menu .tarjetas {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
}

.registro {
  padding-top: 50px;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
.registro .formulario-resgistro {
  width: 400px;
  height: 100%;
}
.registro .tarjeta-registro {
  width: 400px;
  height: 550px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.registro .tarjeta-registro:hover .cuadrado {
  left: -250px;
  top: -150px;
  opacity: 1;
}
.registro .tarjeta-registro .cuadrado {
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: rgba(224, 140, 29, 0.89);
  top: -900px;
  left: -900px;
  transition: 1s;
  transform: rotate(45deg);
}
.registro .tarjeta-registro img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.registro .tarjeta-registro .info {
  width: inherit;
  height: inherit;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  text-shadow: 3px 2px 2px #CE5937;
  opacity: 0;
  top: -25px;
  transition: 1s;
}
.registro .tarjeta-registro .info:hover {
  top: 0;
  opacity: 1;
}
.registro .tarjeta-registro .info h2 {
  font-size: 20px;
}
.registro .tarjeta-registro .info p {
  font-size: 18px;
}
.registro .tarjeta-registro .info button {
  width: 200px;
}
.registro .tarjeta-registro .info button a {
  color: white;
  text-decoration: none;
}
@media (max-width: 576px) {
  .registro {
    padding-left: 0;
  }
}

.boton {
  width: 80px;
  cursor: pointer;
  background-color: black;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0, 5s;
}
.boton:hover {
  background-color: rgb(65, 62, 62);
}

.button, .registro .formulario-resgistro button {
  width: 150px;
  cursor: pointer;
  background-color: black;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0, 5s;
}
.button:hover, .registro .formulario-resgistro button:hover {
  background-color: rgb(65, 62, 62);
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.yellow {
  color: yellow;
}

.primario {
  color: rgba(99, 63, 16, 0.89);
}

.secundario {
  color: rgb(209, 173, 94);
}

/*# sourceMappingURL=style.css.map */
