@charset "UTF-8";
* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-left: 100px;
  color: black;
  font-size: 50px;
}

.cartel {
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: rgb(209, 173, 94);
  background-size: 100%;
  color: white;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.cartel p {
  font-size: 20px;
}
@media (max-width: 1200px) {
  .cartel {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .cartel {
    font-size: 30px;
  }
}

.cartel-inicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .cartel-inicio {
    background-image: url(../MULTIMEDIA/inicio/inicio-lindo2.jpg);
  }
}
.cartel-inicio .imagen1 {
  object-fit: cover;
  top: 68px;
  height: inherit;
  width: inherit;
  padding: 0;
}
@media (max-width: 1200px) {
  .cartel-inicio .imagen1 {
    display: none;
  }
}
.cartel-inicio .imagen2 {
  object-fit: cover;
  top: 68px;
  height: inherit;
  width: inherit;
  padding: 0;
}
@media (max-width: 1200px) {
  .cartel-inicio .imagen2 {
    display: none;
  }
}
.cartel-inicio .imagen3 {
  object-fit: cover;
  top: 68px;
  height: inherit;
  width: inherit;
  padding: 0;
}
@media (max-width: 1200px) {
  .cartel-inicio .imagen3 {
    display: none;
  }
}

.navegador {
  top: 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.navegador h1 {
  padding-left: 180px;
}
@media (max-width: 1200px) {
  .navegador h1 {
    font-size: 50px;
    margin: 0;
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .navegador h1 {
    display: none;
  }
}
.navegador ul {
  top: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}
@media (max-width: 1200px) {
  .navegador ul {
    font-size: 30px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .navegador ul {
    position: fixed;
    width: 40%;
    background-color: rgb(209, 173, 94);
    height: 100vh;
    justify-content: start;
    top: -1500px;
  }
}
.navegador ul li a {
  font-size: 25px;
  color: black;
  text-decoration: none;
  margin: 10px;
}
@media (max-width: 768px) {
  .navegador ul li a {
    color: white;
    margin: 0;
  }
}
.navegador .dropdown {
  display: none;
}
@media (max-width: 768px) {
  .navegador .dropdown {
    font-size: 30px;
    display: block;
    order: -1;
  }
}
.navegador .logo {
  width: 50px;
  height: 50px;
}

.imagen {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 40px;
}

.iniciar-sesión {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}
@media (max-width: 768px) {
  .iniciar-sesión {
    margin-left: 45px;
  }
}
@media (max-width: 576px) {
  .iniciar-sesión {
    margin-left: 0;
    width: 100%;
  }
}

.formulario-resgistro-inicio {
  width: 300px;
  border: 1px solid black;
  padding: 50px;
}

.grid-padree {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 400px);
  gap: 10px;
  grid-template-areas: "img0 img0 img0 img0 img0" "img1 img1 img7 img7 img7" "img3 img3 img3 img3 img3" "img5 img5 img5 img4 img4" "img6 img6 img6 img4 img4" "img8 img8 img8 img2 img2";
}
.grid-padree img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-padree .img0 {
  grid-area: img0;
}
.grid-padree .img1 {
  grid-area: img1;
}
.grid-padree .img2 {
  grid-area: img2;
}
.grid-padree .img3 {
  grid-area: img3;
}
.grid-padree .img4 {
  grid-area: img4;
}
.grid-padree .img5 {
  grid-area: img5;
}
.grid-padree .img6 {
  grid-area: img6;
}
.grid-padree .img7 {
  grid-area: img7;
}
.grid-padree .img8 {
  grid-area: img8;
}
@media (max-width: 768px) {
  .grid-padree {
    display: flex;
    flex-wrap: wrap;
  }
}

.pie-de-pagina {
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2px;
  padding: 30px;
}
.pie-de-pagina .info-nosotros {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.pie-de-pagina .info-nosotros a {
  text-decoration: none;
  color: black;
}
.pie-de-pagina .redes i {
  padding-top: 20px;
  font-size: 50px;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .pie-de-pagina .redes i {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .pie-de-pagina .redes i {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .pie-de-pagina .redes {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .pie-de-pagina {
    font-size: 10px;
    gap: 5px;
  }
}

/*inicio menú bebidas*/
.menu-bebidas h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}

.tarjetas {
  padding-left: 100px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .tarjetas {
    grid-template-columns: repeat(3, 1);
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .tarjetas {
    padding-left: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .tarjetas {
    grid-template-columns: repeat(2, 1fr);
  }
}

.imagen-menu {
  margin-top: 45px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.menu-tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 20px;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 200px;
  background-color: rgba(99, 63, 16, 0.89);
}
.menu-tarjetas a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.imagen-menu-caliente {
  margin-top: 50px;
  width: 150px;
  height: 100px;
}

.imagen-menu-helado {
  margin-top: 40px;
  width: 80px;
  height: 100px;
}

/*fin menú*/
/*inico menu comida*/
.menu-comida h2 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}
.menu-comida .imagen-menu-comida {
  margin-bottom: 45px;
  padding-top: 50px;
  width: 100px;
  height: 100px;
}
.menu-comida .imagen-menu-comida2 {
  margin-bottom: 45px;
  padding-top: 50px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/*fin menu cmida*/
.registro {
  padding-top: 50px;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
.registro .formulario-resgistro {
  width: 400px;
  height: 100%;
}
.registro .tarjeta-registro {
  width: 400px;
  height: 550px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.registro .tarjeta-registro:hover .cuadrado {
  left: -250px;
  top: -150px;
  opacity: 1;
}
.registro .tarjeta-registro .cuadrado {
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: rgba(224, 140, 29, 0.89);
  top: -900px;
  left: -900px;
  transition: 1s;
  transform: rotate(45deg);
}
.registro .tarjeta-registro img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.registro .tarjeta-registro .info {
  width: inherit;
  height: inherit;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  text-shadow: 3px 2px 2px #CE5937;
  opacity: 0;
  top: -25px;
  transition: 1s;
}
.registro .tarjeta-registro .info:hover {
  top: 0;
  opacity: 1;
}
.registro .tarjeta-registro .info h2 {
  font-size: 20px;
}
.registro .tarjeta-registro .info p {
  font-size: 18px;
}
.registro .tarjeta-registro .info button {
  width: 200px;
}
.registro .tarjeta-registro .info button a {
  color: white;
  text-decoration: none;
}
@media (max-width: 576px) {
  .registro {
    padding-left: 0;
  }
}

.boton {
  width: 80px;
  cursor: pointer;
  background-color: black;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0, 5s;
}
.boton:hover {
  background-color: rgb(65, 62, 62);
}

.button, .registro .formulario-resgistro button {
  width: 150px;
  cursor: pointer;
  background-color: black;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0, 5s;
}
.button:hover, .registro .formulario-resgistro button:hover {
  background-color: rgb(65, 62, 62);
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.yellow {
  color: yellow;
}

.primario {
  color: rgba(99, 63, 16, 0.89);
}

.secundario {
  color: rgb(209, 173, 94);
}

/*# sourceMappingURL=style.css.map */
