.section-carrito{
    width: 1350px;
    align-items: center;
    text-align: center;
    
    .nav-carrito{
        display: flex;
        justify-content: start;
        font-size: 30px;
        margin-left: 510px;
        
        .p-total{
            margin-left: 100px;
        }
    }
    .nav-carrito-2{
        margin-left: 9px;
        display: flex;
        justify-content: space-between;
    }
    .tarjetita-carrito{
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-between;
        background-color: grey;
        font-size: 20px;
        border: 1px solid black;
        margin: 10px;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        .imagen-carrito{
            align-items: center;
            width: 80px;
            height: 60px;
        }
        .titulo-carrito{
            justify-content: start !important;
            font-size: 20px;
        }
    }

}
.div-total{
    gap: 20px;
    display: flex;
    justify-content: end;
    font-size: 40px;
    margin-right: 140px;
    .finalizar{
        border-radius: 10px;
        font-size: 20px;
        background-color: white;
        border: 2px solid #be8439ec;
       padding: 10px;
       margin-bottom: 15px;
       
    }
}
.total-compra{
    margin-left: 50%;
    font-size: 50px;
}
.carrito-vacio{
    font-size: 60px;
}
.eliminar{
    background-color: white;
    border-radius: 50%;
}