.registro{
    padding-top: 50px;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    .formulario-resgistro{
        width: 400px;
        height: 100%;
       button{
        @extend .button
       }
    }
    .tarjeta-registro{
        width: 400px;
        height: 550px;
        margin: 10px;
        border-radius: 5px;
        display: flex;
        position: relative;
        overflow: hidden;
        &:hover .cuadrado{
            left: -250px;
            top: -150px;
            opacity: 1;
        }
        .cuadrado{
            position: absolute;
            width: 800px;
            height: 800px;
            background-color: rgba(224, 140, 29, 0.89) ;
            top: -900px;
            left: -900px;
            transition: 1s;
            
            transform: rotate(45deg);
        }
        img{
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
        .info{
            width: inherit;
            height: inherit;
            padding: 10px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: absolute;
            flex-direction: column;
            text-shadow: 3px 2px 2px #CE5937;
            opacity: 0;
            top: -25px;
            transition: 1s;
          
            &:hover{
                top: 0;
                opacity: 1;
            }
            h2{
                font-size: 20px;
            }
            p{
                font-size: 18px;
            }
            button{
                width: 200px;
                a{
                    color: white;
                    text-decoration: none;

                }
            }
        }
    }
    @media(max-width:576px){
            padding-left: 0;
        }

}

