.menu {
    width: 100%;
    height: 100%;
    align-items: center;

    h2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 20px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        align-items: center;
    }

    .tarjetas {
        width: 100%;
        height: inherit;
        padding-left: 85px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .tarjetita {
            height: 150px;
            width: 250px;
            border: 1px solid black;
            border-radius: 35px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            background-color: #be8439ec;
            transition: 0.5s;
            box-shadow: 10px 5px 5px black;
            margin-bottom: 30px;

            @media(max-width:576px) {
                display: flex;
                flex-wrap: wrap;
                width: 150px;
                margin-left: 30px;
            }

            h3 {

                text-align: center;
                width: 100%;
                font-style: italic;

                @media(max-width: 576px) {
                    font-size: 20px;
                }
            }

            img {
                width: 120px;
                height: 100px;

                @media(max-width:576px) {
                    width: 60px;
                    height: 90px;
                }
            }

            p {
                display: flex;
                font-size: 17px;

                @media(max-width:576px) {
                    font-size: 13px;
                }
            }

            .machiatto {
                font-size: 25px;

                @media(max-width: 576px) {
                    font-size: 20px;
                }
            }

            .imagen-c {
                height: 90px;

                @media(max-width:576px) {
                    width: 60px;
                    height: 90px;
                }
            }
            .imagen-t{
                height: 90px;
            }

            .p-te {
                font-size: 18px;
            }


        }

        @media(max-width:992px) {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
    }

    .tarjetas-comida {
        width: 100%;
        height: inherit;
        padding-left: 85px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
         @media(max-width:992px) {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
        .tarjetita-comida {
            height: 150px;
            width: 250px;
            border: 1px solid black;
            border-radius: 35px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            background-color: #be8439ec;
            transition: 0.5s;
            box-shadow: 10px 5px 5px black;
            margin-bottom: 30px;

            @media(max-width:576px) {
                display: flex;
                flex-wrap: wrap;
                width: 150px;
                margin-left: 30px;
            }

            h3 {

                text-align: center;
                width: 100%;
                font-style: italic;

                @media(max-width: 576px) {
                    font-size: 19px;
                }
            }

            img {
                width: 100px;
                height: 90px;
                @media(max-width:576px) {
                    width: 70px;
                    height: 90px;
                }
            }
            .imagen-d{
                height: 90px;
            }
            p {
                display: flex;
                font-size: 18px;

                @media(max-width:576px) {
                    font-size: 13px;
                }
            }
        }
    }
}