
.navegador{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 500;
    position: relative;
    h1{
        padding-left: 180px;
        @media(max-width:1200px){
            font-size: 50px;
            margin: 0;
            padding-left: 60px;
             
        }
        @media(max-width: 768px){
               order: -1;

        }
        @media(max-width:576px){
            font-size: 30px;
        }
    }
    ul{
        
        text-decoration: none;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10px;
        list-style: none;
        @media(max-width:768px){
            display: none;
        }
        
        li a {
            font-size: 30px;
            padding: 10px;
            display: block;
            color: black;
            @media(max-width:500px){
                color: black;
                font-size: 20px;
            }
        }
    }
    .dropdown{
        display: none;
      
        padding-top: 30px;
        ul{
            li a{
                text-decoration: none;
            }
        }
        .dropdown-toggle{
            
            font-size: 10px;
        }
        .dropdown-menu{
            background-color: rgb(209, 173, 94);
        }
        .dropdown-item {
            
            color: white;
    
        }
        .btn{
            
            background-color: rgb(209, 173, 94);
        }
        @media(max-width:768px){
                    font-size: 30px;
                    display: block;
                    order: -2;
        }
    }
    
    .logo{
        width: 100px;
        height: 100px;
        object-fit: cover;
        @media(max-width: 768px){
            margin-right: 30px;
           
        }
    }
}
.underline-hover{
    font-size: 30px;
    text-decoration: none;
  
}
.underline-hover::after{
    content: "";
    height: 4px;
    width: 0;
    margin: auto;
    background-color: rgb(209, 173, 94);
    display: block;
    transition: all 350ms;

    @media(max-width: 768px){
        background-color:rgb(209, 173, 94);
    }
}
.underline-hover:hover::after{
    width: 100%;
}
