
.pie-de-pagina{
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 2px;
    padding: 30px;
    .info-nosotros{
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    .info-nosotros a{
        text-decoration: none;
        color: black;
    }
    .redes{
        i{
            padding-top: 20px;
            font-size: 50px;
            margin-left: 50px;
            @media(max-width: 768px){
                font-size: 30px;
            }
            @media(max-width: 576px){
                    font-size: 30px;
            }
        }
        @media(max-width: 768px){
                display: flex;
                flex-direction: column;
        }
    }

    @media(max-width: 768px){
            font-size: 10px;
            gap: 5px;
    }
}