$colores : (blue,
            red,
            green,
            black,
            yellow);
$colores-personalizados : (primario:rgba(99, 63, 16, 0.89),
                           secundario:rgb(209, 173, 94),);